*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: -webkit-linear-gradient(#00000021, transparent, #00000021);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  min-width: 350px;
}

.less1000px {
  display: none;
}

.show1000px {
  display: block;
}


@media only screen and (max-width:999px) {
  .less1000px {
    display: block;
  }

  .show1000px {
    display: none;
  }
}

.adminTag {
  border-bottom: 1px solid;
  border-color: transparent;
  transition: .2s ease-in-out;
  padding-left: 0px;
  padding-right: 0px;
  background: linear-gradient(rgba(86, 77, 77, 0.023), rgba(40, 35, 35, 0.286), rgba(0, 0, 0, 0));
  cursor: pointer;
}

.adminTag:hover {
  border-bottom: 2px solid;
  border-color: rgb(0, 110, 255);
  background: linear-gradient(rgba(0, 0, 0, 0.618), rgba(0, 0, 0, 0.722), rgba(57, 54, 54, 0));
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}